<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <machineKey validationKey="3CAA5BF41EDBC4A444C5B6DA62DF452325EC74E84FDD90802DE2C598FFDE0315E2B89B4D658D82D50B7C0C29E044C8EECC16577001762752D38787547F7A6759"
                      decryptionKey="412DD71F765CA3464CEB52C9A638927BC2D809F2440DA0F75BA11D5765BA9A74" validation="SHA1" decryption="AES" />
      <compilation debug="true" />
      <customErrors mode="Off"/>
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_EncryptDecryptServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webstrar47.fulton.asu.edu/page2/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_EncryptDecryptServices"
                contract="EncryptionDecryptionService.EncryptDecryptServices"
                name="BasicHttpBinding_EncryptDecryptServices" />
        </client>
    </system.serviceModel>
</configuration>
